<script lang="ts">
    import Vue from 'vue';
    import SvgIcon from "@/lib-components/svgIcon/SvgIcon.vue";

    export default Vue.extend({
        name: 'ServeDev',
        components: {SvgIcon},
        data(){
            return{
                name:'chevronRight_16'
            }
        }
    });
</script>

<template>
    <div id="app">
        <SvgIcon color="red" active-color="blue"  hovered-color="yellow" :name="name"/>

        <div @click="name='add_24'">click</div>
    </div>
</template>
