
.svgIcon {
  display: inline-flex;
  cursor: pointer;
  position: relative;

  &:not(.inheritIconColor) {
    svg {
      &::v-deep {
        * {
          &[stroke] {
            stroke: var(--icon-color);
          }

          &[fill] {
            fill: var(--icon-color);
          }
        }
      }

      &:hover {
        &::v-deep {
          * {
            &[stroke] {
              stroke: var(--hovered-icon-color);
            }

            &[fill] {
              fill: var(--hovered-icon-color);
            }
          }
        }
      }
    }

    &.active {
      svg {
        &::v-deep {
          * {
            &[stroke] {
              stroke: var(--active-icon-color);
            }

            &[fill] {
              fill: var(--active-icon-color);
            }
          }
        }
      }
    }
  }
}
