<template>
    <div :class="['svgIcon', {active: active},{inheritIconColor: inheritIconColor}]"
         :style="cssVars">
        <svg-filler :path="imageUrl"/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import SvgFiller from './vue-svg-filler.ts';

    export const DEFAULT_COLOR = '#2d3448';

    export default Vue.extend({
        components: {
            'svg-filler': SvgFiller,
        },
        props: {
            name: {
                type: String,
                required: true,
            },
            color: {
                type: String,
                default: DEFAULT_COLOR,
            },
            hoveredColor: {
                type: String,
            },
            activeColor: {
                type: String,
            },
            active: {
                type: Boolean,
                default: false,
            },
            inheritIconColor: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                DEFAULT_COLOR: DEFAULT_COLOR,
            };
        },
        computed: {
            cssVars(): any {
                return {
                    '--icon-color': this.color,
                    '--hovered-icon-color': this.hoveredColor || this.color,
                    '--active-icon-color': this.activeColor || this.color,
                };
            },
            imageUrl(): string {
                // @ts-ignore
                let images = require.context('./icons/', false, /\.svg$/)
                return images('./' + this.name + ".svg")
            },
        },
        watch: {},
        methods: {},
    });
</script>
<style lang="scss" scoped>
    @import "svgIcon";
</style>
